.addtaskbox {
    width: 600px;
    max-width: 100%;
    margin: 0 auto 16px;
    display: flex;
}
.addtaskbox input {
    flex-grow: 1;
    border: 2px solid #ccc;
    font-size: 1.1em;
    padding: 4px;
    margin-right: 8px;
}