input[type="checkbox"] {
    margin: 0 8px 0 0 ;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 4px 8px;
    border-bottom: 1px solid #aaa;
}
li:last-child {
    border-bottom: none;
}
li > label {
    flex-grow: 1;
}
li span.done {
    text-decoration: line-through;
    color: #aaa;
}